@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Đổi từ var(--font-geist-sans) sang tên font mới của bạn */
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Trỏ font-family về hệ thống font mới */
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}